<mat-card class="card-with-header">
  <mat-toolbar class="card-toolbar">
    Shout Out
  </mat-toolbar>
  <mat-card-content class="card-content">
    <div class="shout-container">
      <div #shoutInnerContainer [scrollTop]="shoutInnerContainer.scrollHeight" class="shout-inner-container">
        <div *ngFor="let message of messages" class="message">{{ message }}</div>
      </div>
    </div>

    <form [formGroup]="formGroup">
      <mat-form-field style="width: 100%;" *ngIf="authorizationService.isUserLoggedIn()">
        <input matInput formControlName="messageInput" placeholder="Leave a comment" type="text" autocomplete="off"
          (keyup.enter)="send()" />
        <mat-icon matSuffix color="accent">send</mat-icon>
        <mat-hint>Press 'enter' to send a message.</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>