section {
  margin: 0 1em 1em 1em;
}

.header {
    display: flex;
    margin: 0 .75em .75em .75em;
  
    h4 {
      margin: 0;
    }
  }
  
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
    margin: 0 !important;
  }
  
  .formFields {
    width: 100%;
    font-size: 12px;
  }
  
  editor {
    margin-bottom: 1em;
  }

  .error {
    font-size: small;
    margin-bottom: 1em;
  }