<mat-toolbar class="mat-elevation-z2 top-nav-toolbar" color="primary">
  <mat-toolbar-row>
    <img class="nav-logo" src="../../assets/WA_Icon.png" />
    <span>Wild Angels Guild - SWTOR</span>
    <!-- This fills the remaining space of the current row -->
    <span class="top-nav-bar"></span>
    <span *ngIf="!authorizationService.isUserLoggedIn()">
      <button mat-stroked-button (click)="openLoginDialog()">Login</button>
      <button mat-button color="accent" (click)="openSignupDialog()">Sign Up</button>
    </span>
    <span *ngIf="authorizationService.isUserLoggedIn()" class="username-span">
      <h3>{{ authorizationService.getUsername() }}</h3>
    </span>
    <span *ngIf="authorizationService.isUserLoggedIn()">
      <button mat-stroked-button (click)="logout()">Logout</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>