.nav-logo {
  height: 64px;
  width: 64px;
  margin-right: 1em;
}

.top-nav-toolbar {
  background-color: white;
}

.top-nav-bar {
  flex: 1 1 auto;
}

.username-span {
  margin-right: 1em;
  h3 {
    color: #0099ff;
    font-size: .75em;
  }
}