<div class="news-container">
  <div class="news-vote-column">
    <div>
      <button mat-icon-button color="accent" matTooltip="Upvote for the story." matTooltipPosition="after"
        (click)="voteUp()">
        <mat-icon>thumb_up</mat-icon>
      </button>
    </div>
    <div class="vote-number">{{ newsStory.votes }}</div>
    <div>
      <button mat-icon-button color="accent" matTooltip="Downvote for the story." matTooltipPosition="after"
        (click)="voteDown()">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <div class="news-header">
      <h3>{{ newsStory.title }}</h3>
      <h5>- Posted by {{ newsStory.createdBy }} - {{ newsStory.dateCreated | fullFormattedTimestamp }}</h5>
    </div>
    <div class="news-content">
      <div [innerHTML]="newsStory.content | keepHtml"></div>
    </div>
  </div>
</div>