<article>
  <section class="news-outer-vote-column">
    <div class="news-vote-column">
      <div *ngIf="authorizationService.isUserLoggedIn()">
        <button mat-icon-button color="accent" matTooltip="Upvote for the story." matTooltipPosition="after"
                (click)="voteUp()">
          <mat-icon>thumb_up</mat-icon>
        </button>
      </div>
      <div class="vote-number">{{ newsStory.votes }}</div>
      <div *ngIf="authorizationService.isUserLoggedIn()">
        <button mat-icon-button color="accent" matTooltip="Down vote for the story." matTooltipPosition="after"
                (click)="voteDown()">
          <mat-icon>thumb_down</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <section class="news-content-header">
    <div class="news-header">
      <h3>{{ newsStory.title }}</h3>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/news/' + newsStory.newsId">
            <mat-icon>open_in_new</mat-icon>
            <span>Open Article</span>
          </button>
          <button *ngIf="authorizationService.isUserLoggedIn() && authorizationService.getRole() === 'ADMIN'"
                  mat-menu-item [routerLink]="'/news/edit/' + newsStory.newsId">
            <mat-icon>edit</mat-icon>
            <span>Edit Article</span>
          </button>
          <button *ngIf="authorizationService.isUserLoggedIn() && authorizationService.getRole() === 'ADMIN'"
                  mat-menu-item (click)="deleteNews()">
            <mat-icon>delete</mat-icon>
            <span>Delete Article</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <h5>{{ newsStory.dateCreated | fullFormattedTimestamp }}</h5>
    <h5>Posted by {{ newsStory.createdBy }}</h5>
    <div class="news-content">
      <div [innerHTML]="newsStory.content | keepHtml"></div>
    </div>
    <div class="news-article-link">
      <a [routerLink]="'/news/' + newsStory.newsId">Keep reading...</a>
    </div>
  </section>
</article>
