.shout-container {
    margin-bottom: 1em;
    background-color: #f1f2f3;
    border: #7e868d 1px solid;
    border-radius: 5px;
}

.shout-inner-container {
    height: 200px;
    overflow-y: auto;
}

.message {
    padding: 0.5em;
    border-radius: 1em;
    margin: 0.5em;
    line-height: 1.1em;
    display: table;
    width: auto;
    background-color: white;
  }