mat-card {
  margin: 1em;
}

.news-content {
  padding: .75em;
  margin-bottom: 1em !important;
  background-color: #f1f2f3;
  border: #7e868d 1px solid;
  border-radius: 5px;
}

button {
  margin: .25em;
}

mat-expansion-panel {
  margin: 1em;
}

.comments-section {
  margin-bottom: 1em;
}
