<section>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>News</mat-card-subtitle>
      <mat-card-title>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>{{ newsStory?.title }}</span>
            <span matListItemLine>{{ newsStory?.dateCreated | fullFormattedTimestamp }}</span>
            <span>Posted by {{ newsStory?.createdBy }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="news-content" [innerHTML]="newsStory?.content | keepHtml"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent">Comment</button>
    </mat-card-actions>
  </mat-card>
</section>

<section class="comments-section">
  <mat-expansion-panel [disabled]="!comments || comments.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comments
      </mat-panel-title>
      <mat-panel-description>
        {{ displayDescription() }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-comments-tree [nodeData]="comments"></app-comments-tree>
  </mat-expansion-panel>
</section>
