::ng-deep body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  margin-top: 6em;
  margin-bottom: 15em;
}

::ng-deep .mat-elevation-z2 {
  position: relative;
  z-index: 2;
}

::ng-deep .card-with-header {
  margin: 2em;
  padding: 0 !important;
}

::ng-deep .card-toolbar {
  justify-content: space-between;
}

::ng-deep .card-content {
  padding: 2em;
  overflow: hidden;
}
