.header {
    display: flex;
    h4 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

.formFields {
    width: 100%;
}

.markdownPreview-container {
    margin-bottom: 1em;
    padding: 10px;
    background-color: #f1f2f3;
    border: #7e868d 1px solid;
    border-radius: 5px;
    min-height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px; 
}
