.header {
    display: flex;
    margin-bottom: 10px;
    h4 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

::ng-deep .mat-tab-body-content {
    margin-top: 10px;
}

::ng-deep .mat-ink-bar {
    background-color: #ff9800 !important;
}

::ng-deep .mat-tab-body {
    overflow-y: hidden !important;
} 


::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
    margin: 0px !important;
}

.formFields {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.markdownPreview-container {
    margin-bottom: 1em;
    padding: 10px;
    background-color: #f1f2f3;
    border: #7e868d 1px solid;
    border-radius: 5px;
    min-height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px; 
}
