<app-alert-banner viewLabel="app-signup-dialog"></app-alert-banner>
<h1 mat-dialog-title>Signup</h1>
<mat-dialog-content>
  <form [formGroup]="formGroup" (keydown.enter)="$event.preventDefault()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="usernameInput" type="text" />
      <mat-icon matSuffix>face</mat-icon>
      <mat-error>
        Username is required to register.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="emailInput" type="email" />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error>
        Email is required to register.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="passwordInput" type="{{passwordInputType}}" />
      <mat-error>
        Password is required to register.
      </mat-error>
      <button mat-icon-button matSuffix (click)="toggleShowPassword()">
        <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
        <mat-icon *ngIf="!showPassword">visibility</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="passwordVerifyInput" (keyup.enter)="register()" type="{{passwordInputType}}" />
      <mat-icon matSuffix class="green-check" *ngIf="passwordVerified()">check_circle</mat-icon>
      <mat-icon matSuffix class="red-cross" *ngIf="!passwordVerified()">clear</mat-icon>
      <mat-error>
        Verifying Password is required to register.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="accent" [disabled]="this.formGroup.invalid || !this.passwordVerified()"
    (click)="register()">Register
  </button>
  <button mat-button color="accent" [mat-dialog-close]="true">Cancel</button>
</mat-dialog-actions>