<div class="news-container">
  <div class="news-vote-column">
    <div>
      <mat-icon matSuffix color="accent" class="clickable-icon" (click)="voteUp()">arrow_drop_up</mat-icon>
    </div>
    <div class="vote-number">{{ newsStory.votes}}</div>
    <div>
      <mat-icon matSuffix color="accent" class="clickable-icon" (click)="voteDown()">arrow_drop_down</mat-icon>
    </div>
  </div>
  <div>
    <div class="news-header">
      <h3>{{ newsStory.title }}</h3>
      <h5>- Posted by {{ newsStory.createdBy }} - {{ convertDate() }}</h5>
    </div>
    <div class="news-content" [innerHTML]="newsStory.content | keepHtml">
    </div>
  </div>
</div>