<mat-nav-list>
  <a *ngIf="authorizationService.isUserLoggedIn()" mat-list-item routerLink="" (click)="navigationClose()">
    <div class="nav-item">
      <mat-icon>person</mat-icon>
      <span class="nav-caption">{{ authorizationService.getUsername() }}</span>
    </div>
  </a>
  <a mat-list-item routerLink="" (click)="navigationClose()">
    <div class="nav-item">
      <mat-icon color="accent">home</mat-icon>
      <span class="nav-caption">Home</span>
    </div>
  </a>
  <a *ngIf="authorizationService.isUserLoggedIn() && authorizationService.getRole() === 'ADMIN'" mat-list-item
     routerLink="/users"
     (click)="navigationClose()">
    <div class="nav-item">
      <mat-icon>manage_accounts</mat-icon>
      <span class="nav-caption">Manage Accounts</span>
    </div>
  </a>
  <a *ngIf="authorizationService.isUserLoggedIn() && authorizationService.getRole() === 'ADMIN'" mat-list-item
     routerLink="/news/create"
     (click)="navigationClose()">
    <div class="nav-item">
      <mat-icon>edit_document</mat-icon>
      <span class="nav-caption">Create News</span>
    </div>
  </a>
  <a *ngIf="!authorizationService.isUserLoggedIn()" mat-list-item (click)="openLoginDialog()">
    <div class="nav-item">
      <mat-icon>login</mat-icon>
      <span class="nav-caption">Login</span>
    </div>
  </a>
  <a *ngIf="!authorizationService.isUserLoggedIn()" mat-list-item (click)="openSignupDialog()">
    <div class="nav-item">
      <mat-icon>person_add</mat-icon>
      <span class="nav-caption">Sign Up</span>
    </div>
  </a>
  <a *ngIf="authorizationService.isUserLoggedIn()" mat-list-item (click)="logout()">
    <div class="nav-item">
      <mat-icon>logout</mat-icon>
      <span class="nav-caption">Logout</span>
    </div>
  </a>
</mat-nav-list>
