mat-tree {
  mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }

  mat-tree-node {
    padding-left: 50px;
  }
}

.comments-tree-invisible {
  display: none;
}


// .comments-tree .mat-nested-tree-node div[role=group] {
//   padding-left: 40px;
// }

// .comments-tree div[role=group] > .mat-tree-node {
//   padding-left: 50px;
// }