<footer>
  <div class="footer-content">
    <section class="company-info">
      <div class="company-info-header">
        <img src="../../../favicon.ico" alt="Dreadfall Icon" />
        <h4>{{ companyInfo?.name }}</h4>
      </div>
      <div class="company-info-content">
        {{ companyInfo?.shortDescription}}
      </div>
    </section>
    <section class=footer-links>
      <h5>LINKS</h5>
      <a href="https://www.facebook.com">Link 1</a>
      <a href="https://www.facebook.com">Link 2</a>
      <a href="https://www.facebook.com">Link 3</a>
      <a href="https://www.facebook.com">Link 4</a>
    </section>
    <section>
      <h5>CONTACT</h5>
      <div>
        <address class="contact-row">
          <mat-icon>location_city</mat-icon>
          <span>{{ companyInfo?.address }}</span>
        </address>
        <div class="contact-row">
          <mat-icon>mail</mat-icon>
          <span>
            <a>{{ companyInfo?.email }}</a>
          </span>
        </div>
        <div class="contact-row">
          <mat-icon>phone_android</mat-icon>
          <span>{{ companyInfo?.phone }}</span>
        </div>
        <div class="contact-row">
          <mat-icon>fax</mat-icon>
          <span>{{ companyInfo?.fax }}</span>
        </div>
      </div>
    </section>
    <section class="social-links">
      <a [href]="companyInfo?.facebookUrl">
        <fa-icon class="brand-icons" [icon]="faFacebook" size="2x"></fa-icon>
      </a>
      <a [href]="companyInfo?.twitterUrl">
        <fa-icon class="brand-icons" [icon]="faTwitter" size="2x"></fa-icon>
      </a>
      <a [href]="companyInfo?.instagramUrl">
        <fa-icon class="brand-icons" [icon]="faInstagram" size="2x"></fa-icon>
      </a>
      <a [href]="companyInfo?.linkedInUrl">
        <fa-icon class="brand-icons" [icon]="faLinkedIn" size="2x"></fa-icon>
      </a>
      <a [href]="companyInfo?.githubUrl">
        <fa-icon class="brand-icons" [icon]="faGithub" size="2x"></fa-icon>
      </a>
    </section>
  </div>

  <section class="footer-bottom">
    <span>
      © 2023 <strong>Dreadfall</strong>. Crafted by <strong>Brant Unger</strong>
    </span>
  </section>
</footer>