<footer>
  <div class="footer-content">
    <div class="company-info">
      <div class="company-info-header">
        <img src="../../../favicon.ico" alt="Dreadfall Icon"/>
        <h4>Dreadfall</h4>
      </div>
      <div class="company-info-content">
        Our CMS allows you to add content to your website dynamically, using a beautiful responsive web design!
      </div>
    </div>
    <div class=footer-links>
      <h5>LINKS</h5>
      <a>Link 1</a>
      <a>Link 2</a>
      <a>Link 3</a>
      <a>Link 4</a>
    </div>
    <div>
      <h5>CONTACT</h5>
      <div>
        <div class="contact-row">
          <mat-icon>location_city</mat-icon>
          <span>5304 S 106th Place, Mesa, AZ 85212</span>
        </div>
        <div class="contact-row">
          <mat-icon>mail</mat-icon>
          <span>
            <a>admin@dreadfall.com</a>
          </span>
        </div>
        <div class="contact-row">
          <mat-icon>phone_android</mat-icon>
          <span>+1 480-555-5555</span>
        </div>
        <div class="contact-row">
          <mat-icon>fax</mat-icon>
          <span>+1 480-555-5555</span>
        </div>
      </div>
    </div>
    <div>

    </div>
  </div>

  <div class="footer-bottom">
        <span>
            © 2023 <strong>Dreadfall</strong>. Crafted by <strong>Brant Unger</strong>
        </span>
  </div>
</footer>
